<div id="footer" class="mb-5">
    <hr>
    <div class="container text-center mb-3">
        <img src="/images/geharalab_all.png" alt="Gehara Lab" style="width:100%; max-width:700px;">
    </div>
    {{ if .Site.Params.socialIcons }}
    <div class="container text-center">
        {{ range $item := .Site.Params.socialIcons }}
            <a href="{{ $item.url }}" class="{{ $item.icon }} fa-1x" title="{{ $item.title }}"></a>
        {{ end }}
    </div>
    {{ end }}
    {{ with .Site.Params.footer }}
        <div class="container text-center">
            <a href="{{ .url | absURL }}" title="{{ .text }}" {{ if .blank }}target="_blank"{{ end }}><small>{{ .text }}</small></a>
        </div>
    {{ end }}
</div>
