<div class="container mt-5">
    <div class="text-center mb-3">
        <a href="{{ .Site.BaseURL }}">
            <img src="/images/geharalab5.png" alt="Gehara Lab" style="width:250px;">
        </a>
    </div>
    <nav class="navbar navbar-expand-sm flex-column flex-sm-row text-nowrap p-0">
        <div class="navbar-nav flex-row flex-wrap justify-content-center mx-auto">
            {{ with .Site.Menus.main }}
                {{ $navbar_len := len . }}
                {{ range $i, $nav_item := . }}
                    <a class="nav-item nav-link" href="{{ $nav_item.URL }}" title="{{ $nav_item.Name }}">
                        {{ $nav_item.Pre }}{{ $nav_item.Name }}{{ $nav_item.Post }}
                    </a>
                    {{ if ne (add $i 1) $navbar_len }}
                        <span class="nav-item navbar-text mx-1">/</span>
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </nav>
</div>
<hr>
